<launch>

  <!-- Select which sensors are to be used -->
  <arg name="useLeftIMU"    default="True" />
  <arg name="useRightIMU"   default="True" />

  <!-- launch the IMUs -->
  <group if="$(arg useLeftIMU)"
    ns="imu_left">

      #### IMU Nodelet manager
      <node pkg="nodelet" type="nodelet" name="imu_manager"
        args="manager" output="screen" />

      #### IMU Driver ###########################################################

      <node pkg="nodelet" type="nodelet" name="PhidgetsImuNodelet"
        args="load phidgets_spatial/PhidgetsSpatialNodelet imu_manager"
        output="screen">

        # supported data rates: 4 8 16 24 32 40 ... 1000 (in ms)
        <param name="data_interval_ms" value="4"/>

        <!-- # optional param serial_number, default is -1 -->
        <param name="serial" value="596014"/>

        <param name="frame_id" value="imu01_link"/>

      </node>

  </group>

  <group if="$(arg useRightIMU)"
    ns="imu_right">

      #### Nodelet manager ######################################################

      <node pkg="nodelet" type="nodelet" name="imu_manager"
        args="manager" output="screen" />

      #### IMU Driver ###########################################################

      <node pkg="nodelet" type="nodelet" name="PhidgetsImuNodelet"
        args="load phidgets_spatial/PhidgetsSpatialNodelet imu_manager"
        output="screen">

        # supported data rates: 4 8 16 24 32 40 ... 1000 (in ms)
        <param name="period" value="4"/>

        <!-- # optional param serial_number, default is -1 -->
        <param name="serial" value="596088"/>

        <param name="frame_id" value="imu02_link"/>
      </node>

  </group>


</launch>
